  body
  {
    color: white;
    background:chocolate;
  }
  .heading
  {
    width: 30%;
    font-size: 27px;
  }
  #camera 
  {
    border: 2px dashed black;
    width: 350px;
    height: 300px; 
  }
  .name_of_objects, #result_object_name  , #result_object_accuracy
  {
    color:aqua;
  }
